<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TheRightCorner{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('scripts') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="background: #ff5722;">
            <div class="container-fluid" style="background: #ff5722;">
                <a class="navbar-brand" href="{{ path('home') }}"><h1>Le BonCoin</h1></a>
                <div class="d-none d-sm-block">
                    
                </div>

                <form class="d-flex" action="{{ path('search') }}" method="get">
                    <input class="form-control me-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                {% if app.user %}
                    <div style="display: inherit">
                        <div class="d-block d-sm-none">
                            <a class="btn btn-secondary" href="{{ path('search') }}">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a  href="{{ path('profile') }}">
                            <i class="fas fa-user"></i>
                        </a>
                        <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                {% else %}
                    <div style="display: inherit">
                        <div class="d-block d-sm-none">
                            <a class="btn btn-secondary" href="{{ path('home') }}">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a class="btn btn-secondary" href="{{ path('app_register') }}">
                            <i class="fas fa-user-plus"></i>
                        </a>
                        <a class="btn btn-secondary" href="{{ path('app_login') }}">
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </div>
                {% endif %}

            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
